*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

html{
    scroll-behavior: smooth;
    
    
}

menu{
    
    margin-top: 430px;
    background-color: rgba(13, 19, 20, 0.822);
    width: 90%;
    height: 400px;
    border-bottom-left-radius: 20px;   
    animation: t 0.5s ease-in;
   
}

@keyframes t {
    0%{
        transform:translateX(-100%);
    }
}
menu>li{
    border-bottom: 1px solid darkgray;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 85%;
    display: flex;
    
}
menu>li>a{
    width: 85%;
    text-decoration: none;
    color: white;
    padding: 15px;
}
body{
    background-color: aliceblue;
}
header{
    transition: 0.8s;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 12vh;
    font-size: 1em;
    background-image:url('IMG/ai-7977960_1280.jpg'); ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

header.alvaro{
    position: fixed;
    background-image: none;
    background-color: rgba(13, 19, 20, 0.822);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    width: 100%;
    
}



nav{
   padding: 8px;
    
}
nav>a{
    font-size: 0.95em;
    text-decoration: none;
    color: white;
    margin: 2px;
}

main{
   
    background-image: url('IMG/ai-7977960_1280.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;

}
main>div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 175px;
    height: 30vh;
    width: 91%;
    background-color: rgba(255, 255, 255, 0.452);
    color: white;
    font-size: 20px;
}
main>div>p{
  
   font-size: 1.3em;
}
section{
   
    background-color: rgba(255, 255, 255, 0.695);
    margin: auto;
}

.InfoBasica{
    margin-left:4px;
    color: rgb(1, 15, 20);
}
.Barra{
   
    border-radius: 10px;
    display: flex;
    height: 40vh;
    width: 85%;
    background-color: white;
    border: 10px solid white; 
    box-shadow: 1px 1px 15px rgb(87, 81, 81); 
}



.ee{
    margin-left: 5px;
    margin-top: 50px;
    width: 60%;
    color: tomato;
}
.ss{
   
    margin-top: 60%;
    width: 90px;
    color: white;
    border: 1px solid tomato;
    border-radius: 5px;
    padding: 6px;
    height: 35px;
    background-color: tomato;
    
    
}

.qualquer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color:tomato;
    height: 15vh;
    margin: auto;
   
   

}
.qualquer>h2{
    
    margin-top: 18px;
   
}
.sobre{
    
    background-color: white;
    margin: auto;
    
    
    div{
        text-align: center;
        padding: 5px;
        color: rgb(5, 32, 41);
        height: 35vh;
      
        width: 40vh;
        background-color: white;
        border-radius: 20px;
        border: 5px solid white; 
        box-shadow: 1px 1px 15px rgb(87, 81, 81); 
        
    }
}
.one,.two,.three{
   
    h4{
        color: tomato;
        margin-top: 45px;
     
    }
}
.two>h4{
    padding: 19px;
}
footer{
    
    p{
        font-size: 14.4px;
    }
   div{
    margin-left: 12px;
   }
    background-color:rgb(5, 22, 27);
   color: white;
   
}
.direito{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    text-align: center;
    background-color:rgb(5, 22, 27);
    color: white;
    font-size: 14.4px;
}


 

